img {
	height: 250px;
	width: 250px;
}
.heading {
	border-bottom: solid 5px #1235e6;
	border-bottom-left-radius: 10px;
	/* background-color: #0069d93f; */
	width: max-content;
}
.text-clamp {
	/* Adjust line height or font size to ensure the ellipsis works correctly */
	white-space: nowrap;
	font-size: small;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}
